<ion-view view-title="Autor App">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider">
				Informacion
			</div>
			<div class="item item-text-wrap">
				Aplicacion desarrollada por Teresa Mendez. A continuacion puede consultar mas informacion sobre el autor
			</div>
			<div class="item item-divider">
				<div class="list card">
					<a href="#" class="item item-icon-left">
						<i class="icon ion-ios-book"></i>
						Curriculum Vitae
					</a>
					<a href="mailto:teremendezr@hotmail.com" class="item item-icon-left">
						<i class="icon ion-ios-email"></i>
						<strong>Correo:</strong>
						teremendezr@hotmail.com
					</a>
					<a href="" class="item item-icon-left">
						<i class="icon ion-social-facebook"></i>
						@teremendez
					</a>
					<a href="#" class="item item-icon-left">
						<i class="icon ion-iphone"></i>
						<strong>Telefono:</strong>
						6142477569
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>