<ion-modal-view view-title="Book Detail">
	<ion-header-bar class="bar-positive">
		<button class="button button-icon ion-ios-arrow-back" ng-click="closeModal()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list card">

			<div class="item item-avatar">
				<img ng-src="{{bookDetails.cover}}">
				<h2>{{bookDetails.title}}</h2>
				<p>{{bookDetails.author}}</p>
			</div>

			<div class="item item-body">
			<img ng-src="{{bookDetails.cover}}" alt="" class="full-image" style="width: 100%; height: 15em;">
			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-book"></i>
				{{bookDetails.editorial}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-clock"></i>
				{{bookDetails.year}}
			</a>
			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-bookmarks"></i>
				{{bookDetails.isbn}}
			</a>

			<a class="item item-icon-left balanced" href="#">
				<i class="icon ion-ios-cart"></i>
				Buy book
			</a>
			
		</div>
			
		</div>

		
	</ion-content>
</ion-modal-view>