<ion-view view-title="Curriculum">
	<ion-content class="padding">
		<div class="list list-inset">
			<div class="item">
				<strong>Title</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quaerat ipsum ullam earum debitis minima sit doloremque, consectetur expedita reprehenderit. Sed optio at nostrum cumque incidunt amet voluptates veniam velit?</p>
			</div>

			<div class="item">
				<strong>Tere</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quaerat ipsum ullam earum debitis minima sit doloremque, consectetur expedita reprehenderit. Sed optio at nostrum cumque incidunt amet voluptates veniam velit?</p>
			</div>
		</div>
	</ion-content>
</ion-view>