<ion-view view-title="iBiblioteca">
	<ion-content class="padding">
		<ion-list>
    <ion-item class="item-thumbnail-left">
      <img src="principito.jpg">
      <h2>El principito/h2>
      <p>Autor: ANTOINE DE SAINT-EXUPERY</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="before.jpg">
      <h2>Yo antes de ti</h2>
      <p>Autor: JOJO MOYES</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="ladrona.jpg">
      <h2>Ladrona de libros</h2>
      <p>Autor: MARKUS ZUSAK</p>
    </ion-item>
</ion-list>
	</ion-content>
</ion-view>