<ion-view view-title="Inicio">
	<ion-content class="padding">
		<div class="card">
		<div class="item item-divider">
			Bienvenido a IBiblioteca!
		</div>
		<div class="item item-text-wrap">
			IBiblioteca es una aplicacion desarrollada con ionic que permite gestionar una biblioteca de un centro educativo.
			para acceder a la biblioteca pulsa en el siguiente boton
		</div>
		<div class="item item-divider">
			<button class="button icon-left ion-university button-positive">
				Acceso a la biblioteca
			</button>
		</div>
		</div>

		<div class="card">
		<div class="item item-divider">
			Informacion del autor
		</div>
		<div class="item item-text-wrap">
			Aplicacion desarrollada por Teresa Mendez
		</div>
		<div class="item item-divider">
			<button class="button icon-left ion-person button-positive">
				Consulta informacion
			</button>
		</div>
		</div>
	</ion-content>
</ion-view>